<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="cover.css">
</head>
<body>

<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<!-- <div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Consequential Dilemmas?</h3>
					<nav class="nav nav-masthead">
						<a class="nav-link active" href="#">Home</a>
						<a class="nav-link" href="#">Dilemmas</a>
						<a class="nav-link" href="#">Contact</a>
					</nav>
				</div>
			</div> -->
			<div class="inner cover">
				<h1 class="cover-heading">Consequential Dilemmas?</h1>
				<p class="lead">What are the consequences of our actions?</p>
				<p class="lead">
					<a class="btn btn-md btn-secondary" href="">Find Out!</a>
				</p>
			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>A project website created by Darren King</p>
				</div>
			</div>
		</div>
	</div>
</div>
	
</div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
</body>
</html>